@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: .1em;
    box-sizing: border-box;
}

html,
body {
    font-family: 'SUSE';
}
#notif{
    font-family: 'supreme';
    display: inline-block;
}

.show{
    font-weight: 400;
    text-align: center;
    color: #f3f3f3;
    font-size: 1.5em;
    opacity: 0;
    animation: fadeInSlideUp .3s forwards;
}

.hide {
    font-weight: 400;
    text-align: center;
    color: #f3f3f3;
    font-size: 1.5em;
    opacity: 0;
    animation: fadeOutSlideDown .7s ;
}

@keyframes fadeInSlideUp {
    from {
        transform: translateX(-35px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutSlideDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
#clr-btn{
    display: none;
}
